<h2>Tracks</h2>
<div class="list-group">
  <ul class="tracks">
    <li *ngFor="let track of parsedTracks" [class.selected]="track === selectedTrack" (click)="onSelectTrack(track)">
      {{track.name}}
      <button *ngIf="track.id != '5ad24ecff36d286a71b51851'" class="btn btn-sm btn-warning" type="button" (click)="deleteTrack(track)"
        role="button"> x </button>
    </li>
  </ul>
</div>
<div class="row" *ngIf="selectedTrack">
  <div class="col-sm-4">
    <div>Name: {{selectedTrack.name}}</div>
    <div>Description: {{selectedTrack.description}}</div>
  </div>
  <div class="col-sm-8">Highscores
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{this.selectedTrack.bestTimes[0].name}}</td>
          <td>{{this.selectedTrack.bestTimes[0].time === -1 ? "-":this.selectedTrack.bestTimes[0].time}}</td>
        </tr>
        <tr>
          <td>{{this.selectedTrack.bestTimes[1].name}}</td>
          <td>{{this.selectedTrack.bestTimes[1].time === -1 ? "-":this.selectedTrack.bestTimes[1].time}}</td>
        </tr>
        <tr>
          <td>{{this.selectedTrack.bestTimes[2].name}}</td>
          <td>{{this.selectedTrack.bestTimes[2].time === -1 ? "-":this.selectedTrack.bestTimes[2].time}}</td>
        </tr>
        <tr>
          <td>{{this.selectedTrack.bestTimes[3].name}}</td>
          <td>{{this.selectedTrack.bestTimes[3].time === -1 ? "-":this.selectedTrack.bestTimes[3].time}}</td>
        </tr>
        <tr>
          <td>{{this.selectedTrack.bestTimes[4].name}}</td>
          <td>{{this.selectedTrack.bestTimes[4].time === -1 ? "-":this.selectedTrack.bestTimes[4].time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!parsedTracks || parsedTracks.lenght === 0" class="panel panel-danger">
  <h4>No available tracks for the moment. Only an administrator can create tracks.</h4>
</div>

<div *ngIf="error">
  <p class="text-danger">{{error}}</p>
</div>

<div id="container">
  <div class="row">
    <div *ngIf="selectedTrack">
      <button class="btn btn-lg btn-info" *ngIf="selectedTrack" (click)="playTrack(selectedTrack)">Play Track</button>
    </div>
  </div>
</div>