<h2>Tracks</h2>
<div class="list-group">
  <ul class="tracks">
    <li *ngFor="let track of parsedTracks" [class.selected]="track === selectedTrack" (click)="onSelectTrack(track)">
      {{track.name}}
      <button *ngIf="track.id != '5ad24ecff36d286a71b51851'" class="btn btn-sm btn-warning" type="button" (click)="deleteTrack(track)" role="button"> x </button>
    </li>
  </ul>
</div>
<div *ngIf="selectedTrack">
  <div>
  <p>Name: {{selectedTrack.name}} </p> 
  <p>Description: {{selectedTrack.description}} </p> 
</div>
</div>
<div *ngIf="!parsedTracks || parsedTracks.lenght === 0" class="panel panel-danger">
  <h4>No available tracks for the moment. Only an administrator can create tracks.</h4>
</div>

<div *ngIf="error">
  <p class="text-danger">{{error}}</p>
</div>

<div id="container">
  <div class="row">
    <div *ngIf="selectedTrack">
      <button class="btn btn-lg btn-info" *ngIf="selectedTrack" (click)="playTrack(selectedTrack)">Play Track</button>
    </div>
  </div>
</div>