<h3>Changer le mot de passe</h3>
<form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
    <div>
        <label>Nouveau mot de passe :</label>
        <input type="password" required [(ngModel)]="password" name="password">
    </div>
    <div>
        <label>Confirmer le mot de passe :</label>
        <input type="password" required [(ngModel)]="confirmPassword" name="confirmPassword">
    </div>
    <div *ngIf="error">
        <p class="text-danger">{{error}}</p>
    </div>
    <button class="btn" type="button" (click)="goBack()">Annuler</button>
    <button class="btn" type="submit" [disabled]="!changePasswordForm.form.valid">Enregistrer</button>
</form>
