<h3>Change the password</h3>
<div>
  <div>
    <label>New password:</label>
    <input type="password" name="password" #password>
  </div>
  <div>
    <label>Confirm the password:</label>
    <input type="password" name="confirmPassword" #confirmedPassword>
  </div>
  <div *ngIf="error">
    <p class="text-danger">{{error}}</p>
  </div>
  <button class="btn btn-lg btn-info" type="button" routerLink="/admin">Cancel</button>
  <button class="btn btn-lg btn-info" type="button" (click)="changePassword(password.value, confirmedPassword.value)">Save</button>
</div>