.btn-primary{
    background-color: transparent;
    border-color: transparent;
}

img{
    width: 70%;
    height: 70%;
    position: relative;
    right: 2%;
}

#modeSelector {
    text-align: center;
}

.gameMode {
    position:relative;
    width: 400px;
    height: 400px;
    font-size: 16pt;
    margin: 3pt;
 }

.btn-group-wrap {
    text-align: center;
}

div.btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}


 .buttonsModeSelector{
     margin-top: 5%
 }

 .gameMode:hover {
    background-color: #008cff34;
 }

 .btn-primary:focus, .btn-primary:active, .btn-primary.active {
     background-color: transparent;
     border-color: transparent;
 }

 #copyrights {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12pt;
    text-align: center;
 }