.btn-btn-primary {
    background-color: #3742fa;
    text-align: center;
    color: white;
    padding: 14px 40px;
    border: none;
}

.nouvellePiste {
    margin-top: 200px;
    margin-bottom: 0px;
}

.niveau {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 1px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}