<ul>
  <div class="row">
    <div *ngFor="let line of crosswordService.FormattedGrid.letters">
      <li *ngIf="crosswordService.FormattedGrid.letters.indexOf(line)===0" class="case"></li>
      <li class="case">{{crosswordService.FormattedGrid.letters.indexOf(line)+1}}</li>
    </div>
  </div>
  <div *ngFor="let line of crosswordService.FormattedGrid.letters; let i = index" class="row">
    <li class="case">{{crosswordService.FormattedGrid.letters.indexOf(line)+1}}</li>
    <div *ngFor="let letter of line; let j = index">
      <li *ngIf="letter === ''" class="case blackCase"></li>
      <li *ngIf="letter !== ''" class="case bordercase letterCase" [ngClass]="{
                      'thick-border': isPartOfWord(defService.SelectedWord, i, j),
                      'border-selectedMultiplayer': isPartOfWord(defService.SelectedWord, i, j) && isMultiplayer(),
                      'border-selectedByOpponent': isPartOfWord(opponentSelectedWord, i, j) && isMultiplayer(),
                      'border-selectedByBoth': isPartOfWord(opponentSelectedWord, i, j) && isPartOfWord(defService.SelectedWord, i, j) && isMultiplayer()
                    }">
        <input id="{{i}}{{j}}" type="text" [ngClass]="{
                        'whiteCaseInput': true,
                        'canSelect': true,
                        'selectedByOpponent': isPartOfWord(opponentSelectedWord, i, j) && isMultiplayer(),
                        'selected': isPartOfWord(defService.SelectedWord, i, j),
                        'placed': letterGrid[i][j].IsPlaced && !letterGrid[i][j].IsFoundByOpponent,
                        'placedByOpponent' : letterGrid[i][j].IsPlaced && letterGrid[i][j].IsFoundByOpponent && isMultiplayer(),
                        'placedByBoth' : letterGrid[i][j].isPlaced && isPlacedByDifferentPlayers(i, j)  
                      }" maxlength="1" (keydown)="inputService.handleKey($event.keyCode, i, j ); 
                      $event.preventDefault();" (click)="selectWordFromCase(i, j)" [(value)]="letterGrid[i][j].Letter" #case/>
      </li>
    </div>
  </div>
</ul>