#waitingForOpponent {
    text-align: center;
    font-size: 28pt;
}

#crossword {
    min-width: 600px;
}
.player {
    background-color: rgb(121, 209, 121) !important;
    font-weight: bold;
}

.opponent {
    background-color: rgb(42, 60, 219) !important;
    font-weight: bold;
}