<script src="/socket.io/socket.io.js"></script> 
<div *ngIf="!isOpponentFound" id="waitingForOpponent">Waiting for an opponent...</div>
<div *ngIf="isOpponentFound">
  <p> Partie : {{gameName}}</p>
  <button type="button" class="btn btn-outline-primary" (click)="defService.isCheatModeOn = !defService.isCheatModeOn">
    {{defService.isCheatModeOn ? 'Disable Cheat Mode' : 'Enable Cheat Mode'}}
  </button>
  <div *ngIf="isConfigured">
    <div class="row">
      <div id="crossword" class="col-sm-5">
        <app-grid #grid></app-grid>
      </div>
      <div id="definitions" class="col-sm-7">
        <app-definitions #definitions></app-definitions>
      </div>
    </div>
  </div>
    <div>
      <p> Words Placed : </p>
      <div class = "player">
      <p> {{playerName}} : {{playerScore}} </p> 
      </div>
      <div class = "opponent">
      <p> {{opponentName}} : {{opponentScore}} </p> 
    </div>
    </div>
</div>
<div *ngIf="isGameEnded()">
  La partie et terminée.
  <div *ngIf="isYouWinning()">
    You won!
  </div>
  <div *ngIf="!isYouWinning()">
    You lost!
  </div>

</div>
