<div id="difficultyTitle">Difficulty : {{difficulty}}</div>
<div id="changeDifficulty">
  <a routerLink="/single-player">Change difficulty</a>
</div>
<ul>
  <div *ngFor="let line of fGrid.letters">
    <div *ngFor="let letter of line">
      <li *ngIf="letter === ''" class="case blackCase">{{renderCase(letter)}}</li>
      <li *ngIf="letter !== ''" class="case letterCase">{{renderCase(letter)}}</li>
    </div>
    <br/>
  </div>
</ul>
<div class="defintion">
  <ul>
    <div *ngFor="let definition of horizontalWords" id="defintion">
      {{definition.Line + 1}} : {{definition.Def}}
    </div>
  </ul>
</div>
<div class="defintion">
  <ul>
    <div *ngFor="let definition of verticalWords">
      {{definition.Column + 1}} : {{definition.Def}}
    </div>
  </ul>
</div>