#difficultyTitle {
    font-size: 28pt;
    text-align: center;
}

#crossword {
    min-width: 600px;
}

.endingButtons{
    padding-left:400px;
    position:relative;
}

.modal fade {
    display: block;
}