<div id="container">
  <div id="bouttonRetour">
    <button class="btn btn-lg btn-info"routerLink="/admin" href="#" role="button">  Retour  </button>
  </div>

  <div class=row>
    <div id="canvasColumn" class = "col-md">
      <canvas class="canvas" #canvas id="canvas"  oncontextmenu="return false;" (mouseup)="canvasMouseUp($event)" (mousedown)="canvasMouseDown($event)" (mousemove)="canvasMouseMoved($event)">
          <!--We add an event binding to the click event-->
      </canvas>
    </div>
    <div id = "infoColumn" class = "col-md">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="nouvellePiste"> Nouvelle Piste</h3>
      
          <p> Name:
            <input type="text" [disabled] = "!allConstraintPass()" (keyup)="setTrackName()"
              class="form-control" #trackNameInput>
          </p>
      
      
          <p>Description:
            <input type="text" [disabled] = "!allConstraintPass()" (keyup)="setTrackDescription()"
            class="form-control" #trackDescriptionInput>
          </p>
      
          <div class="niveau">
            <p> Niveau :
              <select class="form-control" #trackTypeInput>
                <option value="Amateur">Amateur</option>
                <option value="Professionnel">Professionnel</option>
              </select>
            </p>
          </div>

          <div class="validation">
            <hr>
            <div *ngIf = "!(allConstraintPass() && inputTextNotEmpty())" class="alert alert-danger fade in">La piste doit être dessinée et validée avant de pouvoir être enregistrée.</div>
            <button class="btn btn-primary" id="validate-button" [disabled] = "!(allConstraintPass() && inputTextNotEmpty())" 
            (click)="addTrack(trackNameInput.value, trackDescriptionInput.value, trackTypeInput.value)" routerLink="/track-list" > Validation </button>
            <button class="btn btn-info" (click)="updateTrack(trackNameInput.value, trackDescriptionInput.value, trackTypeInput.value)">Update</button>
          </div>
        </div>
      </div>
          
    </div>
  </div>
      
</div>



    