<div id="container">
  <div id="bouttonRetour">
    <a class="btn btn-lg btn-info" (click)= "goBack()" role="button">Back</a>
  </div>

  <div class=row>
    <div id="canvasColumn" class = "col-md">
      <app-canvas #canvasEditor></app-canvas>
    </div>
    <div id = "infoColumn" class = "col-md">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="nouvellePiste">New Track</h3>
      
          <p> Name:
            <input type="text" [disabled] = "!isAllConstraintPass()" (keyup)="setTrackName()"
              class="form-control" #trackNameInput>
          </p>
      
          <p>Description:
            <input type="text" [disabled] = "!isAllConstraintPass()" (keyup)="setTrackDescription()"
            class="form-control" #trackDescriptionInput>
          </p>
          <div class="niveau">
            <p>Level:
              <select class="form-control" #trackTypeInput> 
                <option value="Amateur">Beginner</option>
                <option value="Professionnel">Professional</option>
              </select>
            </p>
          </div>

          <div class="validation">
            <hr>
            <div *ngIf = "!(isAllConstraintPass() && inputTextNotEmpty())" class="alert alert-danger fade in">The track must be drawn and validated before it can be saved.</div>
            <button class="btn btn-primary" id="validate-button" [disabled] = "!(isAllConstraintPass() && inputTextNotEmpty())" 
            (click)="addTrack(trackNameInput.value, trackDescriptionInput.value, trackTypeInput.value)" routerLink="/admin" >Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





    