.canvas{
    border: 3px solid black;
    float: left;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
}
.btn-btn-primary{
    background-color: #3742fa;
    text-align: center;
    color: white;
    padding: 14px 40px;
    border: none;
}
.validation{
    float: left;
    height: 100%;
    width: auto;
    margin-top: 2%;
    margin-left: 5%;
}