<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
    <h1>
        Cats' project
    </h1>
</div>
<div id="mainMenu">
    <nav class="nav nav-pills nav-fill mainMenu">
        <a class="nav-item nav-link active" routerLink="/homepage" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
            aria-selected="true">Home</a>
        <a class="nav-item nav-link" routerLink="/race" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
            aria-selected="true">Car Race</a>
        <a class="nav-item nav-link" routerLink="/crossword" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
            aria-selected="true">Crossword</a>
    </nav>
</div>
<router-outlet></router-outlet>