<div style="width:50%">
  <h2>Top 5 of the best times</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>