<div id="difficultySelector">
  Select difficulty :
  <div class="container">
    <div class="row">
      <div class="btn-group  buttonsModeSelector" data-toggle="buttons">
        <button type="button" class="btn btn-outline-success btn-lg  easyButton" (click)="goToGame('easy')">
          Easy
        </button>
        <button type="button" class="btn btn-outline-warning btn-lg  mediumButton" (click)="goToGame('medium')">
          Normal
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg  hard  Button" (click)="goToGame('hard')">
          Hard
        </button>
      </div>
    </div>
  </div>
  <p id="test"></p>
</div>
<div id="returnToModeSelection">
  <a routerLink="/crossword">Return to mode selection</a>
</div>