#joinGameButton:disabled {
    color: lightgray;
    cursor: not-allowed;
    background: white;
}

#games {
    height: 10%;
}

tbody {
    height: 100%;
    display: inline-block;
    overflow:auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

table {
    width:75%;
    height: 100%; 
}

tbody th {
    font-weight: normal;
}

tbody tr:hover {
    background: lightgray;
}
