<h2>Pistes</h2>
<div class="list-group">
  <ul class="tracks">
    <li *ngFor="let track of realTracks"
      [class.selected]="track === selectedTrack"
      (click)="onSelectTrack(track)">
       {{track.name}} 
     </li>
  </ul>
</div>
<div *ngIf="selectedTrack">
  {{selectedTrack.name}}
  {{selectedTrack.description}}
</div>
<div *ngIf="!tracks || tracks.lenght === 0" class="panel panel-danger" >
  <h4>Pas de pistes disponibles pour l'instant. Seul un administrateur peut en créer.</h4>
</div>

<a class="btn btn-lg btn-info"routerLink="/race" href="#" role="button">  Retour  </a>
