<div id="createAGame">
  <h1 id="pageTitle">Create a game</h1>
  <div id="createAGameForm">
    Username:
    <input type="text" (keyup)="updateUsername($event)" />
    <br>
    Game name:
    <input type="text" (keyup)="updateGameName($event)"/>
    <p *ngIf="isNameAlreadyUsed" id="nameAlreadyUsed">Name already exist!</p>
    <br>
    Select a difficulty:
    <div class="btn-group  buttonsModeSelector" data-toggle="buttons">
      <label class="btn btn-outline-success btn-lg  easyButton" (click)="difficulty = 'easy'">
        <input type="radio" name="options" id="option1" checked> Easy
      </label>
      <label class="btn btn-outline-warning btn-lg  mediumButton" (click)="difficulty = 'medium'">
        <input type="radio" name="options" id="option2"> Normal
      </label>
      <label class="btn btn-outline-danger btn-lg  hardButton" (click)="difficulty = 'hard'">
        <input type="radio" name="options" id="option3"> Hard
      </label>
    </div>
    <br>
    <button type="button" class="btn" [disabled]="!isFormValid()" (click)="createGame()">Create Game</button>
  </div>
</div>