<div class="container">
  <nav>
    <a class="btn btn-lg btn-info" routerLink="/track-list-game" role="button">Car race</a>
    <a class="btn btn-lg btn-warning" routerLink="/track-list" href="#" role="button">Track List</a>
  </nav>

  <h3>Please entrer your username and password:</h3>
  <p>Username:
    <input type="text" class="form-control" #userNameInput>
  </p>

  <p>Password:
    <input type="password" class="form-control" #passwordInput>
  </p>

  <a class="btn btn-lg btn-info" (click)="validate(passwordInput.value, userNameInput.value)" role="button">Validate</a>
  <div *ngIf="error">
    <p class="text-danger">Wrong username or password!</p>
  </div>
</div>