<div class = "container">
<nav>
<a class="btn btn-lg btn-info" routerLink="/car-game" role="button">Course automobile</a>

<a class="btn btn-lg btn-warning"routerLink="/track-list" href="#" role="button">  Track List</a>

</nav>

<h3> SVP entrez votre nom d'utilisateur ainsi que votre mot de passe pour l'admin : </h3>
<p>Nom d'utilisateur :
<input type="text" class="form-control" #userNameInput>
</p>

<p>Mot de Passe:
<input type="password" class="form-control" #passwordInput>
</p>

<a class="btn btn-lg btn-info" (click)="validateUserNameAndPassword(userNameInput.value,passwordInput.value)" role="button">  Valider </a>
<div *ngIf="error">
        <p class="text-danger"> Mauvais nom d'utilisateur et mot de passe!</p>
    </div>
<div *ngIf="!error" routerLink="/admin"></div>