<div class = "container">
<nav>
<a class="btn btn-lg btn-info" routerLink="/car-game" role="button">Course automobile</a>

<a class="btn btn-lg btn-warning"routerLink="/track-list" href="#" role="button">  Track List</a>

</nav>

<h3> SVP entrez votre nom d'utilisateur ainsi que votre mot de passe : </h3>
<p>Nom d'utilisateur :
<input type="text" class="form-control" #userNameInput>
</p>

<p>Mot de Passe:
<input type="text" class="form-control" #passwordInput>
</p>

<a class="btn btn-lg btn-info"routerLink="/admin" href="#" role="button">  Valider </a>

<p>Sinon, créer un utilisateur. </p>
<a class="btn btn-lg btn-info"routerLink="/UserComponent" href="#" role="button">  Créer l'utilisateur </a>

</div>
<router-outlet></router-outlet>
