<h3>Password needed</h3>
<div *ngIf="!validPassword">
        <p>This section is protected by a password</p>
        <div>
            <label>Password:</label>
            <input type="password" name="password" #passwordInput>
        </div>
        <div *ngIf="error">
            <p class="text-danger">Wrong password!</p>
        </div>
        <button class="btn btn-lg btn-info" type="button" routerLink="/admin" >Cancel</button>
        <button class="btn btn-lg btn-info" (click)="validatePassword(passwordInput.value)" type="submit">Enter</button>
</div>
<div *ngIf="validPassword">Password valid</div>
